# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will use the watchlist you created to answer these questions:

1. **Which streaming services contain the shows you want to watch next?**
2. **Which streaming service is the best value based on the shows you want to watch?**

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. 

**Remember**: we learned in our prep work that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell. You will need 10 shows overall.

1. 
2. 
3. 
4. 
5. 
6. 
7. 
8. 
9. 
10.

## Database Setup

Import the necessary libraries and create a dataframe from the provided CSV. 

Print the info out for the dataframe. 

After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces or unusual characters in the names such as `"Disney+"`. 

Print out the info for the dataframe again to ensure your changes were made.

In [13]:
# Code here:
import sqlite3
import pandas as pd
df = pd.read_csv(r'tv_shows.csv')
df.head()
df = df.drop('Unnamed: 0',axis = 1)
df.info()
# Rename coulmns with spaces or unusual characters
df = df.rename(columns = { 
    'Disney+': 'Disney Plus',
})
print("\nUpdated DataFrame Info:")
df.info()
print("\nFirst few rows of the updated DataFrame:")
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime Video      5368 non-null   int64
 9   Disney+          5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB

Updated DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime Video      5368 non-null   int64
 9   Disney Plus      5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB

First few rows of the updated DataFrame:
   ID             Title  Year  Age    IMDb Rotten Tomatoes  Netflix  Hulu  \
0   1      Breaking Bad  2008  18+  9.4/10         100/100        1     0
1   2   Stranger Things  2016  16+  8.7/10          96/100        1     0
2   3   Attack on Titan  2013  18+  9.0/10          95/100        1     1
3   4  Better Call Saul  2015  18+  8.8/10          94/100        1     0
4   5              Dark  2017  16+  8.8/10          93/100        1     0

   Prime Video  Disney Plus  Type
0            0            0     1
1            0            0     1
2            0            0     1
3            0            0     1
4            0            0     1

With your dataframe at the ready, create a new database called `tv.db`. 

Add a new table to your database called `shows` using the data in the dataframe.

In [15]:
# Code here
conn = sqlite3.connect('tv.db')
df.to_sql('Shows',conn, if_exists = 'replace', index = False)
#verify the data creation by quering
cursor = conn.cursor()
cursor.execute("SELECT name From sqlite_master WHERE type ='table';")
tables = cursor.fetchall()
print("Tables in the database:")
for table in tables:
    print (table[0])

Tables in the database:
Shows

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [16]:
# Code Here
cursor.execute("SELECT * FROM shows LIMIT 20")
top_20_records = cursor.fetchall()
print("Top 20 records from the shows table:")
for record in top_20_records:
    print(record)

Top 20 records from the shows table:
(1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now, create a new table called `watchlist` that has three fields:
1. id -> data type of `INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT`
2. title -> data type of `TEXT`
3. importance_rank -> data type of `INTEGER`

For the `importance_rank` field, rank each of your watchlist shows based on how much you want to see them, `10` being the most important and `1` being the least important.

Then, insert each of the items from your watchlist into the new `watchlist` table, using the `executemany` method from our exercises.

Finally, select all the records from the `watchlist` table and print them out to the console.

In [18]:
# Code here
#Create the watchlist table
cursor.execute('''
CREATE TABLE IF NOT EXISTS watchlist(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    title TEXT,
    importance_rank INTEGER
)
''')
#sample watchlist data
watchlist_data = [
    ('Stranger Things', 10),
    ('The Witcher', 9),
    ('Breaking Bad',8),
    ('Dark', 7),
    ('The Queen\'s Gambit', 6),
    ('Mindhunter', 5),
    ('Black Mirror', 4),
    ('Peaky Blinders', 3),
    ('Ozark', 2),
    ('Money Heist',1)
]
#insert watchlist data usig executemany
cursor.executemany('INSERT INTO watchlist (title, importance_rank) values(?,?)', watchlist_data)
conn.commit()
#select all records from the watchlist table
cursor.execute('SELECT * FROM watchlist')
watchlist_records = cursor.fetchall()
print("Watchlist records:")
for record in watchlist_records:
    print(record)

Watchlist records:
(1, 'Stranger Things', 10)
(2, 'The Witcher', 9)
(3, 'Breaking Bad', 8)
(4, 'Dark', 7)
(5, "The Queen's Gambit", 6)
(6, 'Mindhunter', 5)
(7, 'Black Mirror', 4)
(8, 'Peaky Blinders', 3)
(9, 'Ozark', 2)
(10, 'Money Heist', 1)

## Working with the Data

Using Pandas or SQL, find the answer to these 2 questions:
1. How many of the total shows (full csv list) are on each streaming service?
2. What percentage of these total shows is available on each streaming service?

**Hint**:

Use the pandas `query` method to filter the data, and then the Python `len` method to find it's length. [Relevant Link](https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/)

In [29]:
# Code here
#calculate total number of shows
total_shows = len(df)
streaming_services = ['Netflix','Hulu','Prime Video', 'Disney Plus']
show_counts = {}
percentages = {}
for service in streaming_services:
    if ' ' in service:
        show_counts[service] = len(df.query(f'`{service}` == 1'))
    else:
        show_counts[service] = len(df.query(f'{service} == 1'))
    percentages[service] = (show_counts[service]/total_shows)*100
print(f"Total number of shows:{total_shows}")
print("\nNumber of shows on each streaminng service:")
for service, count in show_counts.items():
    print(f"{service}:{count}")
print("\nPercentage of shows on each streaming service:")
for service, percentage in percentages.items():
    print(f"{service}:{percentage:.2f}%")

Total number of shows:5368

Number of shows on each streaminng service:
Netflix:1971
Hulu:1621
Prime Video:1831
Disney Plus:351

Percentage of shows on each streaming service:
Netflix:36.72%
Hulu:30.20%
Prime Video:34.11%
Disney Plus:6.54%


Now join your `watchlist` data to the `shows` data using pandas or SQL. Verify that you joined the data correctly.

Using this related dataset, come up with analytic code that answers these questions:
1. The number of watchlist shows each streaming service has
2. The percentage of your overall watchlist each streaming service has

In [38]:
# Code here
#join watchlist dat to the shows data
watchlist = pd.read_sql_query("SELECT * FROM watchlist", conn)
df = pd.read_sql_query("SELECT * FROM shows", conn)
merged_df = pd.merge(watchlist, df, left_on ='title', right_on ='Title',how = 'left')
print("Merged DataFrame Info:")
print(merged_df.info())
print(merged_df.head())
#calculate the number of watchlist shows each streaming service has
streaming_services = ['Netflix','Hulu','Prime Video', 'Disney Plus']
watchlist_counts = {service: merged_df[service].sum() for service in streaming_services}
print("\nNumber of watchlist shows each steaming service has:")
for service, count in watchlist_counts.items():
    print (f"{service};{int(count)}")
#calculate the percentage of your overall watchlist each streaming service has
total_watchlist = len(watchlist)
watchlist_percentages = {service: (count/total_watchlist)*100 for service, count in watchlist_counts.items()}
print("\nPercentage of your overall watchlist each streaming servie has:")
for service, percentage in watchlist_percentages.items():
    print(f"{service}: {percentage:.2f}%")

Merged DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               10 non-null     int64
 1   title            10 non-null     object
 2   importance_rank  10 non-null     int64
 3   ID               10 non-null     int64
 4   Title            10 non-null     object
 5   Year             10 non-null     int64
 6   Age              10 non-null     object
 7   IMDb             10 non-null     object
 8   Rotten Tomatoes  10 non-null     object
 9   Netflix          10 non-null     int64
 10  Hulu             10 non-null     int64
 11  Prime Video      10 non-null     int64
 12  Disney Plus      10 non-null     int64
 13  Type             10 non-null     int64
dtypes: int64(9), object(5)
memory usage: 1.2+ KB
None
   id               title  importance_rank  ID               Title  Year  Age  \
0   1     Stranger Things               10   2     Stranger Things  2016  16+
1   2         The Witcher                9  19         The Witcher  2019  18+
2   3        Breaking Bad                8   1        Breaking Bad  2008  18+
3   4                Dark                7   5                Dark  2017  16+
4   5  The Queen's Gambit                6  10  The Queen's Gambit  2020  18+

     IMDb Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney Plus  Type
0  8.7/10          96/100        1     0            0            0     1
1  8.2/10          89/100        1     0            0            0     1
2  9.4/10         100/100        1     0            0            0     1
3  8.8/10          93/100        1     0            0            0     1
4  8.6/10          92/100        1     0            0            0     1

Number of watchlist shows each steaming service has:
Netflix;10
Hulu;0
Prime Video;0
Disney Plus;0

Percentage of your overall watchlist each streaming servie has:
Netflix: 100.00%
Hulu: 0.00%
Prime Video: 0.00%
Disney Plus: 0.00%

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?

- *your_answer*every show on the watchlist was present in the kaggle dataset, as evidenced by successful merge of all 10 watchlist items.The dataset might be outdated and newer shows arent included.

2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?

- *your_answer* Based on the analysis all shows in the watchlist are avaliable on Netlix. This could mean that some shows are Netflix exclusives, which has significantly impacted the analysis.  

3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?

- *your_answer* Netflix offered most shows. Hulu, Prime Vedio, Disney plus offered least

4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?

- *your_answer* Based on the analysis Netflix would be a best fit as it offers 100% of the shows on the watchlist.

# Bonus Mission

We didn't end up using that `importance_rank` field, did we?

Well, that was intentional! 

Your bonus mission is to come up with analysis that uses that field to determine, based on watchlist show importance_rank and number of watchlist shows available on a service, which platform you should subscribe to.

In [39]:
# Code Here
conn.close()